/* .homepage {
    background-color: rgb(45, 119, 45);
} */

.homeImage {
    width: 100%;
}

.homepageContainer {
    position: relative;
    text-align: center;
    color: rgb(245, 242, 220);
  }

.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.homePageMain {
    background-color: rgb(245, 242, 220);
}